<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Geolocalization App</title>
        <% include partials/head %>
    </head>
    <body>
        <div class="container">
                <div class="row mt-5">
                        <div class="col-sm-6">
                            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                                <img src="/images/image.png">
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title text-center">Iniciar o Registrarse</h5>
                              <p class="card-text">Nos alegra tenerte aqu&iacute;. S&iacute; a&uacute;n no te 
                                  has registrado, te invitamos a hacerlo. S&iacute; ya tienes una cuenta, puedes 
                                  entrar directamente al sistema.
                              </p>
                              <a href="/login" class="btn btn-light box-shadow--8dp">Ingresar</a>
                              <a href="/signup" class="btn btn-light">Registrarse</a>
                            </div>
                          </div>
                        </div>
                      </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>