<!DOCTYPE html>
<html>
    <head>
        <title>P&aacute;gina Principal</title>
        <meta charset="utf-8">
        <% include helpers/head %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/location">Geolocalization App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.local.email %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Cerrar Sesi&oacute;n</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="strack" href="/location/register">Iniciar Tracking</a>
                    <a class="dropdown-item" id="ftrack" href="/location/dregister">Finalizar Tracking</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="utrack" href="/location">Actualizar Tracking</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        <h1 id="tracking" class="disabled"></h1>
        <div id="mapid"></div>
        <% locs = JSON.parse(locations)%>
        <% var long = []; %>
        <% var lati = []; %>
        <% for(var i = 0; i < locs.length; i++){ %>
            <% long.push(locs[i]['longitude']) %>
            <% lati.push(locs[i]['latitude']) %>
        <% } %>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var initLong = [];
            var initLati = [];
            var slong = "<%= long %>";
            var slati = "<%= lati %>";
            for(var i = 0; i < slong.split(",").length; ++i){
                initLong.push((slong.split(",")[i]));
            }
            for(var i = 0; i < slati.split(",").length; ++i){
                initLati.push(Number(slati.split(",")[i]));
            }
            var mymap = L.map('mapid');
            //alert(initLati);
            if(initLati.length > 0){
                mymap.setView([4.6097100, -74.0817500], 13);
            }
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		        maxZoom: 18,
		        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		        id: 'mapbox.streets'
            }).addTo(mymap);
            for(var i = 0; i < initLati.length; ++i){
                var marker = L.marker([initLati[i], initLong[i]]).addTo(mymap);
            }
        </script>
        <script type="text/javascript">
            $("#strack").click((e) => {
                e.preventDefault();
                $("#strack").addClass("disabled");
                $("#tracking").removeClass("disabled");
                $("#ftrack").removeClass("disabled");
            });
            $("#ftrack").click((e) => {
                e.preventDefault();
                $("#strack").removeClass("disabled");
                $("#tracking").addClass("disabled");
                $("#ftrack").addClass("disabled");
            });
            function autoUpdate() {
                navigator.geolocation.getCurrentPosition(function(position) {  
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var toTrack = $("#tracking").hasClass("disabled");
                    if(!toTrack){
                        var formData = {};
                        formData.longitude = longitude;
                        formData.latitude = latitude;
                        formData.user = "<%=user.local.email %>";
                        formData.curdate = Date.now();
                        //alert("Tracking " + JSON.stringify(formData));
                        $.ajax({
                            type: 'POST',
                            contentType : "application/json",
			                      url : window.location + "/register",
			                      data : JSON.stringify(formData),
			                      dataType : 'json',
			                      success : function(customer) {
                                alert("Sending " + JSON.stringify(formData));
                            },
			                      error : function(e) {
                              console.log("ERROR: ", e);
                              alert("Error " + e);
			                      }
                        });
                    }
                    setTimeout(autoUpdate, 5000);
                });
            }
            autoUpdate();
        </script>
    </body>
</html>